<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Development" connectionString="server=mydevserver\instancename;database=TE_3E_Development;Integrated Security=False;uid=sa;pwd=mysecret;Application Name=MoveDraftAttachments;" />
    <add name="Testing" connectionString="server=mytestserver\instancename;database=TE_3E_Testing;Integrated Security=True;Application Name=MoveDraftAttachments;" />
    <add name="Production" connectionString="server=myliveserver\instancename;database=TE_3E_Production;Integrated Security=True;Application Name=MoveDraftAttachments;" />
  </connectionStrings>
  
  <appSettings>
    <add key="Development" value="\\srvdev01\TE_3E_SHARE\TE_3E_DEV\Inetpub\Attachment" />
    <add key="Testing" value="\\srvqa01\TE_3E_SHARE\TE_3E_QA\Inetpub\Attachment" />
    <add key="Production" value="\\srvlive01\TE_3E_SHARE\TE_3E_Live\Inetpub\Attachment" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
